.DS_Store
cookies.json
storage.json
venv
ticklist.db
.env
*local*
sync_db.py
.streamlit/secrets.toml
__pycache__/
.Python
venv/
env/
.env
.vscode/
.devcontainer/
.DS_Store
.cursorrules
batch_files/
batch_results/
assets/
